version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: weekly
    time: "09:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: pretty_assertions
    versions:
    - 0.7.1
  - dependency-name: nom
    versions:
    - 6.1.0
    - 6.1.1
