[package]
name = "orgize"
version = "0.8.4"
authors = ["PoiScript <poiscript@gmail.com>"]
description = "A Rust library for parsing orgmode files."
repository = "https://github.com/PoiScript/orgize"
readme = "README.md"
edition = "2018"
license = "MIT"
keywords = ["orgmode", "emacs", "parser"]

[package.metadata.docs.rs]
all-features = true

[badges]
travis-ci = { repository = "PoiScript/orgize" }

[features]
default = ["ser"]
ser = ["serde", "serde_indextree", "indexmap/serde-1"]

[dependencies]
bytecount = "0.6.0"
chrono = { version = "0.4.11", optional = true }
indextree = "4.0.0"
jetscii = "0.5.0"
lazy_static = "1.4.0"
memchr = "2.3.3"
# we don't need to parse any float number, so lexical crate is redundant
nom = { version = "5.1.1", default-features = false, features = ["std"] }
serde = { version = "1.0.106", optional = true, features = ["derive"] }
serde_indextree = { version = "0.2.0", optional = true }
syntect = { version = "4.1.0", optional = true }
indexmap = { version = "1.3.2", features = ["serde-1"], optional = true}

[dev-dependencies]
pretty_assertions = "0.6.1"
serde_json = "1.0.51"
slugify = "0.1.0"
